body{
    height: 100%;
    overflow: hidden;
}

.main-section-aboutme{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10vh;
}

.main-section-aboutme h1 { 
    font-size: 48px;
    font-weight: bold;
    line-height: 10px;
}

.main-section-aboutme h2 {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
    border-radius: 3px;
}

.main-section-aboutme h3 {
    font-size: 22px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.main-section-aboutme h4 {
    font-size: 16px;
}

.main-section-aboutme p {
    font-size: 14px;
    text-align: justify;
}

.main-section-aboutme p strong {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 767px) {
    .main-section-aboutme{
        margin-right: 10%;
        margin-left: 10%;
    }
 }